<div class="col-12 row g-0" style="height: 100vh;">
  <div class="col-2" style="background-color: lightgrey; height: 100%;">
    Menu
    <br />
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
  <div class="col-10" style="background-color: lightgreen; height: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>